.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  margin: 20px;
}

.column {
  float: left;
  width: 21%;
  margin: 20px;
}

.row {
  font-weight: bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

select {
  float: left;
  border: 1.3px solid lightgray;
  border-radius: 7px;
  color: gray;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 2px 10px;
  width: 170px;
  height: 40px;
  box-shadow: 0px 8px 16px 0px whitesmoke;
}

button {
  margin: 8px 20px;
  background-color: whitesmoke;
  padding: 5px 20px 5px 20px;
  border: 1px solid lightgray;
  font-size: 110%;
  border-radius: 7px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.employee {
  background-color: whitesmoke;
  border: 2px solid lightgray
}

.list {
  background-color: slategray;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  box-shadow: 0px 8px 16px 0px lightgray;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
}

.list a:visited {
  text-decoration: none;
  color: white;
}

.list a:hover {
  font-weight: bolder;
  padding: 10px 20px 10px 20px;
  background-color: rgb(92, 106, 119);
  border-radius: 8px;
  margin: -20px;
  box-shadow: 0px 10px 16px 0px lightgray;
}

a {
  text-decoration: none;
}

div a:visited {
  color: black;
}

